<tr class="table-body-row_ field__huid forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">HUID</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}">no error</td>
    <td class="table-body-row-cell_ ontent forRecord__{{name.firstName}}-{{name.lastName}}">{{huid}}</td>
</tr>
<tr class="table-body-row_ field__academicPlan forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Academic Plan</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.academicPlan}}</td>
</tr>
<tr class="table-body-row_ field__yearInProgram forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Year In Program</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.yearInProgram}}</td>
</tr>
<tr class="table-body-row_ field__degreeCandidate forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Degree Candidate</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.degreeCandidate}}</td>
</tr>
<tr class="table-body-row_ field__expectedGradDate forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Expected Graduation Date</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.expectedGradDate}}</td>
</tr>
<tr class="table-body-row_ field__lastDateAttend forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Last Date Attend</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.lastDateAttend}}</td>
</tr>
<tr class="table-body-row_ field__registrationStatus forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Registration Status</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.registrationStatus}}</td>
</tr>
<tr class="table-body-row_ field__careerEffdt forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Career Effdt</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.careerEffdt}}</td>
</tr>
<tr class="table-body-row_ field__degreeProgramNumber forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Degree Program Number</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.degreeProgramNumber}}</td>
</tr>
<tr class="table-body-row_ field__degreeProgram forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Degree Program</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.degreeProgram}}</td>
</tr>
<tr class="table-body-row_ field__careerSchoolCode forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Career School Code</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.careerSchoolCode}}</td>
</tr>
<tr class="table-body-row_ field__yearTerm forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Year Term</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{career.yearTerm}}</td>
</tr>
<tr class="table-body-row_ field__postal forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Postal</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{permAddress.postal}}</td>
</tr>
<tr class="table-body-row_ field__state forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">State</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{permAddress.state}}</td>
</tr>
<tr class="table-body-row_ field__city forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">City</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{permAddress.city}}</td>
</tr>
<tr class="table-body-row_ field__address2 forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Address 2</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{permAddress.address2}}</td>
</tr>
<tr class="table-body-row_ field__address1 forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Address 1</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{permAddress.address1}}</td>
</tr>
<tr class="table-body-row_ field__countryCode forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Country Code</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{permAddress.countryCode}}</td>
</tr>
<tr class="table-body-row_ field__addressEffdt forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Address Effdt</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{permAddress.addressEffdt}}</td>
</tr>
<tr class="table-body-row_ field__postal forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Postal</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{mailAddress.postal}}</td>
</tr>
<tr class="table-body-row_ field__state forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">State</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{mailAddress.state}}</td>
</tr>
<tr class="table-body-row_ field__city forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">City</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{mailAddress.city}}</td>
</tr>
<tr class="table-body-row_ field__address2 forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Address 2</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{mailAddress.address2}}</td>
</tr>
<tr class="table-body-row_ field__address1 forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Address 1</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{mailAddress.address1}}</td>
</tr>
<tr class="table-body-row_ field__countryCode forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Country Code</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{mailAddress.countryCode}}</td>
</tr>
<tr class="table-body-row_ field__addressEffdt forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Address Effdt</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{mailAddress.addressEffdt}}</td>
</tr>
<tr class="table-body-row_ field__ethnicityCode forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Ethnicity Code</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{ethnicity.ethnicityCode}}</td>
</tr>
<tr class="table-body-row_ field__ethnicityValue forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Ethnicity Value</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{ethnicity.ethnicityValue}}</td>
</tr>
<tr class="table-body-row_ field__nonCitizenCountry forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Non Citizen Country</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{citizenship.nonCitizenCountry}}</td>
</tr>
<tr class="table-body-row_ field__nonCitizenCountry forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Citizenship Status</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{citizenship.citizenshipStatus}}</td>
</tr>
<tr class="table-body-row_ field__nonCitizenCountry forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Usa Citizen</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{citizenship.usaCitizen}}</td>
</tr>
<tr class="table-body-row_ field__middleName forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Middle Name</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{name.middleName}}</td>
</tr>
<tr class="table-body-row_ field__firstName forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">First Name</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{name.firstName}}</td>
</tr>
<tr class="table-body-row_ field__lastName forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Last Name</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{name.lastName}}</td>
</tr>
<tr class="table-body-row_ field__gender forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Gender</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{person.gender}}</td>
</tr>
<tr class="table-body-row_ field__birthDate forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">Birthdate</td>
    <td class="table-body-row-cell_ error forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">no error</td>
    <td class="table-body-row-cell_ content forRecord__{{name.firstName}}-{{name.lastName}}" data-ui-core="size__large">{{person.birthDate}}</td>
</tr>