<tr class="table-body-row_ field__{{fieldName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
	<td class="table-body-row-cell_ is__field{{#if has__error}} has__error{{/if}} detailOf__{{huid}}" data-ui-core="size__large">{{fieldName}}</td>
	<td class="table-body-row-cell_ is__error{{#if has__error}} has__error{{/if}} detailOf__{{huid}}" data-ui-core="size__large">{{errorValue}}</td>
	<td class="table-body-row-cell_ content{{#if has__error}} has__error{{/if}} detailOf__{{huid}}" data-ui-core="size__large">{{fieldValue}}</td>
</tr>