<tr class="table-body-row_ field__{{fieldName}} forRecord__{{firstName}}-{{lastName}}" data-ui-core="size__large" data-js-handler="show__iframe-panel">
    <td class="table-body-row-cell_ field forRecord__{{firstName}}-{{lastName}}" data-ui-core="size__large">{{fieldName}}</td>
    <td class="table-body-row-cell_ error forRecord__{{firstName}}-{{lastName}}" data-ui-core="size__large">{{errorValue}}</td>
    <td class="table-body-row-cell_ content forRecord__{{firstName}}-{{lastName}}" data-ui-core="size__large">{{fieldValue}}</td>
</tr>